.sidebar{
    width: 15vw;
    min-height: 100vh;
    background-color: #52ADA5;
}

.sidebarItem{
    color: white;
}

.sidebarItem:hover{
    color: black;
    background-color: #c1e6e3;
    transition: 1s;
}